{{ define "content" }}
<div class="row row-deck row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column m-5" style="height:45rem; overflow-y:auto;">
                {{ if eq .Path "/tasks" }}
                <div class="d-flex mb-3">
                    <div class="input-icon me-2" style="flex:1; width:90%">
                        <span class="input-icon-addon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" 
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="10" cy="10" r="7" />
                                <line x1="21" y1="21" x2="15" y2="15" />
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Search by Name..." id="tableSearch">
                    </div>
                    <a href="/tasks/new" class="btn btn-primary" style="width: 10%;">New</a>
                </div>

                <div class="table-responsive" style="max-height:38rem; overflow-y:auto;">
                    <table class="table table-vcenter" id="tasksTable">
                        <thead style="position:sticky; top:0; background:white; z-index:1;">
                        <tr>
                            <th>Name</th>
                            <th>Created At</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ .Tasks }}
                        </tbody>
                    </table>
                </div>
                {{ else }}
                <div id="taskForm" class="d-flex flex-column" style="height:100%;">
                    <div class="d-flex flex-column">
                        <div>
                            <h3>New Task</h3>
                        </div>
                        <div class="modal-body flex-grow-1">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="taskName"
                                    placeholder="Task Name"
                                />
                                <label class="form-label">Script</label>
                                <textarea
                                class="form-control"
                                name="taskScript"
                                rows="10"
                                placeholder="Paste your iPXE Script here..."
                                ></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/tasks" class="btn btn-link link-secondary"> Cancel </a>
                            <a href="/tasks/new" class="btn btn-primary ms-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                                    class="icon icon-1">
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                Create new task
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("tableSearch").addEventListener("keyup", function() {
    let value = this.value.toLowerCase();
    document.querySelectorAll("#tasksTable tbody tr").forEach(row => {
        let task = row.cells[0].innerText.toLowerCase();
        row.style.display = (task.includes(value)) ? "" : "none";
    });
});
</script>
{{ end }}
